@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(222, 26%, 31%);
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

.calculator {
  /* border: 1px solid red; */
  width: 540px;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
  background: hsl(222, 26%, 31%);
  margin: 32px;
  /* padding-top: 3rem; */
}
.header {
  display: flex;
  position: relative;
  margin-top: 2rem;
  /* border: 1px solid rgb(208, 255, 0); */
}

/* Text above the screen */
#name {
  margin-top: 30px;
  color: aliceblue;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: league Spartan;
  position: relative;
  bottom: 20px;
}
.toggle {
  display: flex;
  margin-top: 20px;
  color: aliceblue;
}
.switch {
  /* border: 1px solid red; */
  position: absolute;
  right: 0%;
  font-weight: 800;
  max-width: 200px;
}
#theme {
  padding-right: 20px;
  /* border: 1px solid red; */
  font-weight: 700;
  font-family: league Spartan;
  /* font-size: 1rem; */
}
#number ul {
  display: flex;
  position: relative;
  /* border: 1px solid red; */
  list-style: none;
  justify-content: center;
  float: right;
  right: 5px;
}
#number li {
  padding-left: 10px;
  /* color: aliceblue; */
}

/* Theme toggle */
.switchbox input {
  height: 15px;
  width: 15px;
  appearance: none;
  border-radius: 100%;
  opacity: 0;
  cursor: pointer;
  transition: 0.4s;
  margin: 3px 0;
}
#first {
  opacity: 1;
  background-color: hsl(6, 63%, 50%);
}

#second:checked {
  opacity: 1;
  background-color: hsl(25, 98%, 40%);
}

#third:checked {
  opacity: 1;
  background-color: hsl(186, 63%, 50%);
}

.switchbox {
  display: flex;
  width: 53px;
  justify-content: center;
  /* border: 3px solid rgb(229, 102, 102); */
  float: right;
  background-color: hsl(224, 36%, 15%);
  border-radius: 50px;
  cursor: pointer;
}

/* Display Screen */
#display {
  width: 100%;
  /* height: 128px; */
  border: none;
  outline: none;
  text-align: right;
  padding: 2rem 1rem;
  color: white;
  background: hsl(224, 36%, 15%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: right;
  word-wrap: break-word;
  /* word-break: break-all; */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* KEYPADS */
.keypads {
  /* width: fit-content; */
  background-color: hsl(223, 31%, 20%);
  border-radius: 10px;
  /* border: 1px solid green; */
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 1rem; */
}
.key,
.answer,
.del,
.reset {
  display: flex;
  width: calc((100% - 134px) / 2);
  min-width: 4rem;
  height: 6rem;
  margin: 1rem 1rem;
  outline: none;
  border: none;
  background: #e5e4e1;
  box-shadow: inset 0px -4px 0px #a79e91;
  border-radius: 10px;
  cursor: pointer;
  max-height: 64px;
  /* border: 1px solid yellow; */
  /* align-items: center; */
  justify-content: center;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 37px;
  align-items: center;
  text-align: center;
  /* letter-spacing: -0.666667px; */
  color: #36362c;
}
.keypads input:active {
  box-shadow: 5px 7px 5px #191f1e inset;
  font-size: 200%;
}

.bottom input {
  width: calc((100% - 32px) / 2);
  height: 4rem;
  max-width: 227px;
  max-height: 64px;
  font-weight: 700;
  outline: none;
  border: none;
}

#del,
#reset {
  border: none;
  background: hsl(225, 21%, 49%);
  color: white;
  /* box-shadow: 0px 5px hsl(224, 9%, 40%); */
  box-shadow: inset 0px -4px 0px #414e73;
}
#answer {
  color: white;
  background: #d03f2f;
  box-shadow: inset 0px -4px 0px #93261a;
}

/* @media screen and (max-width: 641px) {
  .calculator {
    width: 100%;
    margin: 24px;
  }

  .keypads {
    width: 100%;
  }

  .key,
  .del,
  .reset {
    min-width: 32px;
    min-height: 32px;
    max-width: 227px;
    max-width: 100px;
    margin: 0.5rem;
    font-size: 32px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
} */

@media screen and (max-width: 480px) {
  .calculator {
    width: 100%;
    margin: 24px;
  }
  /* 
.keypads{
width: 100%;
} */

  .key,
  .del,
  .reset,
  .answer {
    min-width: 30px;
    min-height: 32px;
    max-width: 100px;
    margin: 0.5rem;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    justify-content: center;
  }
  .reset,
  .answer {
    /* max-width: 134px; */
    font-size: 20px;
    margin: 0.5rem;
    line-height: 29px;
    display: flex;
    justify-content: center;
  }
  #display {
    font-size: 32px;
  }
  #theme {
    font-size: 10px;
  }
}
