@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(222, 26%, 31%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  /* border: 1px solid red; */
  width: 540px;
  background: hsl(222, 26%, 31%);
}
.header {
  display: flex;
  position: relative;
  /* border: 1px solid rgb(208, 255, 0); */
}

/* Text above the screen */
#name {
  margin-top: 30px;
  color: aliceblue;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: league Spartan;
  position: relative;
  bottom: 20px;
}
.toggle {
  display: flex;
  margin-top: 20px;
}
.switch {
  /* border: 1px solid red; */
  position: absolute;
 right: 0%;
 font-weight: 800;
  /* transform: translateX(-50%); */
}
#theme {
  padding-right: 20px;
  /* border: 1px solid red; */
  font-weight: 700;
  font-family: league Spartan;
}
#number ul {
  display: flex;
  position: relative;
  /* border: 1px solid red; */
  list-style: none;
  justify-content: center;
  float: right;
  right: 5px;
}
#number li {
  padding-left: 20px;
}

/* Theme toggle */
.switchbox input {
  height: 20px;
  width: 22px;
  appearance: none;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}
#first {
  opacity: 1;
  background-color: hsl(6, 63%, 50%);
}
#second:checked {
  opacity: 1;
  background-color: hsl(25, 98%, 40%);
}
#third:checked {
  opacity: 1;
  background-color: hsl(186, 63%, 50%);
}

.switchbox {
  display: flex;
  width: 75px;
  justify-content: center;
  /* border: 3px solid rgb(229, 102, 102); */
  float: right;
  background-color: hsl(224, 36%, 15%);
  border-radius: 50px;
  cursor: pointer;
}

/* Display Screen */
#display {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  text-align: right;
  padding: 3rem 1rem;
  color: white;
  background: hsl(224, 36%, 15%);
  border-radius: 10px;
  font-size: 2.5rem;
  font-weight: 700;
}

/* KEYPADS */
.keypads {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 20px;
  width: 100%;
  background-color: hsl(223, 31%, 20%);
  padding: 10px 0;
  color: hsl(221, 14%, 31%);
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 700;
  /* color: hsl(281, 89%, 26%); */
}

.key,
.answer,
.del,
.reset {
  width: calc(540px / 5);
  height: 80px;
  margin: 6px;
  outline: none;
  border: none;
  background: rgb(252, 245, 232);
  box-shadow:0px 5px hsl(28, 16%, 65%);
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
}

.bottom input {
  width: calc(540px / 2.25);
}

#del,
#reset {
  border: none;
  background: hsl(225, 21%, 49%);
  color: white;
  box-shadow:0px 5px hsl(224, 9%, 40%);
}
#answer {
  background: hsl(6, 70%, 34%);
  color: white;
  font-size: xx-large;
  font-weight: 700;
  outline: none;
  border: none;
  box-shadow: 0px 5px hsl(6, 58%, 65%);
}

@media screen and (max-width: 600px) {
  .claculator {
    width: 400px;
  }
  .bottom input {
    width: calc(400px / 2.25);
  }
}
